extends template-page-simple

block content
    section.slider.slider-menu.d-flex.align-items-center
        .container
            .row.justify-content-center
                .col-md-12.filler-4
                .col-lg-7.mx-auto.text-white
                    .row.align-items-center.d-flex.flex-row
                        .col-lg-6.text-lg-right.pr-lg-4
                            h1.display-1.mb-0 404
                        .col-lg-6.text-lg-left.pl-lg-4
                            h2 SORRY!
                            h3.font-weight-light The page you’re looking for was not found.
                    .row.mt-5
                        .col-12.text-center.mt-xl-2
                            a.text-white.font-weight-medium(href='/') Back to home
                    .row.mt-5
                        .col-12.mt-xl-2
                            p.text-white.font-weight-medium.text-center Copyright © 2019  All rights reserved | made with Jiaxu Duan
