extends template-page

block content
    section.main-block.light-bg
        .container
            .row.justify-content-center
                .col-md-5
                    .styled-heading
                        h3 Featured Places
            .row
                .col-md-4.featured-responsive
                    .featured-place-wrap
                        a(href='detail.html')
                            img.img-fluid(src='images/featured1.jpg', alt='#')
                            span.featured-rating-orange 6.5
                            .featured-title-box
                                h6 Burger & Lobster
                                p Restaurant
                                span •
                                p 3 Reviews
                                span  •
                                p
                                    span $$$
                                    | $$
                                ul
                                    li
                                        span.icon-location-pin
                                        p 1301 Avenue, Brooklyn, NY 11230
                                    li
                                        span.icon-screen-smartphone
                                        p +44 20 7336 8898
                                    li
                                        span.icon-link
                                        p https://burgerandlobster.com
                                .bottom-icons
                                    .closed-now CLOSED NOW
                                    span.ti-heart
                                    span.ti-bookmark
                .col-md-4.featured-responsive
                    .featured-place-wrap
                        a(href='detail.html')
                            img.img-fluid(src='images/featured2.jpg', alt='#')
                            span.featured-rating-green 9.5
                            .featured-title-box
                                h6 Joe’s Shanghai
                                p Restaurant
                                span •
                                p 3 Reviews
                                span  •
                                p
                                    span $$$
                                    | $$
                                ul
                                    li
                                        span.icon-location-pin
                                        p 1301 Avenue, Brooklyn, NY 11230
                                    li
                                        span.icon-screen-smartphone
                                        p +44 20 7336 8898
                                    li
                                        span.icon-link
                                        p https://burgerandlobster.com
                                .bottom-icons
                                    .closed-now CLOSED NOW
                                    span.ti-heart
                                    span.ti-bookmark
                .col-md-4.featured-responsive
                    .featured-place-wrap
                        a(href='detail.html')
                            img.img-fluid(src='images/featured3.jpg', alt='#')
                            span.featured-rating 3.2
                            .featured-title-box
                                h6 Tasty Hand-Pulled Noodles
                                p Restaurant
                                span •
                                p 3 Reviews
                                span  •
                                p
                                    span $$$
                                    | $$
                                ul
                                    li
                                        span.icon-location-pin
                                        p 1301 Avenue, Brooklyn, NY 11230
                                    li
                                        span.icon-screen-smartphone
                                        p +44 20 7336 8898
                                    li
                                        span.icon-link
                                        p https://burgerandlobster.com
                                .bottom-icons
                                    .open-now OPEN NOW
                                    span.ti-heart
                                    span.ti-bookmark
            .row.justify-content-center
                .col-md-4
                    .featured-btn-wrap
                        a.btn.btn-danger(href='#') VIEW ALL
