extends template-page.pug

block content
    section.slider.slider-menu.d-block.align-items-center
        if orders && orders.length > 0
            - idx = 1;
            for order in orders
                .container.filler-4
                    .row.justify-content-center
                        .col-md-6
                            .styled-heading
                                h3="Order " + idx
                                p="Create Time: " + order.createTime
                    .container-table100
                        p
                        .table100
                            table
                                thead
                                    tr.table100-head
                                        th.column1 Food Name
                                        th.column2 Number
                                        th.column3 Status
                                each food_num, food_name in order.foodList
                                    tbody
                                        tr
                                            td.column1 #{food_name}
                                            td.column2 #{food_num}
                                            td.column3
                                                if order.status
                                                    label.badge.badge-gradient-success DONE
                                                else
                                                    label.badge.badge-gradient-process PROGRESS
                - idx += 1

block styles
    link(rel='stylesheet', href='/css/order.css')
