doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        // link(rel='shortcut icon', type='image/ico', href='images/favicon.ico')

        // Library
        link(rel='stylesheet', href='/lib/bootstrap-4.3.1.min.css')
        link(rel='stylesheet', href='/lib/simple-line-icons.css')
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900', rel='stylesheet')

        // Stylesheet
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/footer.css')
        link(rel='stylesheet', href='/css/sidebar.css')

        block styles

    body
        .wrapper
            if user
                include templates/sidebar.pug
            #content
                if title !== 'Home'
                    nav.navbar.navbar-expand-lg.navbar-light
                        .container-fluid#menu-list
                            button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                                span.icon-menu(aria-hidden='true', data-prefix='fas', data-icon='align-justify', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', data-fa-i2svg='')
                            #navbarSupportedContent.collapse.navbar-collapse
                                ul.nav.navbar-nav.ml-auto
                                    li.nav-item
                                        a.nav-link(href='/') Home
                                    li.nav-item
                                        a.nav-link(href='/menu') Menu
                                    li.nav-item
                                        a.nav-link(href='/order') Order
                block content
        include templates/footer.pug

// Library
script(src='lib/jquery-3.4.0.min.js')
script(src='lib/bootstrap-4.3.1.min.js')
script(src='lib/popper.min.js')

script(src='js/sidebar.js')


// Javascript
block scripts

