doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        // link(rel='shortcut icon', type='image/ico', href='images/favicon.ico')

        // Library
        link(rel='stylesheet', href='/lib/bootstrap-4.3.1.min.css')
        link(rel='stylesheet', href='/lib/simple-line-icons.css')
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900', rel='stylesheet')

        // Stylesheet
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/header-footer.css')

        block styles

    body
        include templates/header
        block content
        include templates/footer


// Library
script(src='lib/jquery-3.4.0.min.js')
script(src='lib/bootstrap-4.3.1.min.js')
script(src='lib/popper.min.js')

// stick header on page
script.
    $(window).scroll(function () {
        // 100 = The point you would like to fade the nav in.
        if ($(window).scrollTop() > 100) {
            $('.fixed').addClass('is-sticky');
        } else {
            $('.fixed').removeClass('is-sticky');
        };
    });


// Javascript
block scripts
