extends template-page

block content
    h1.display-4.m-b-2 Sign Up

        // register form
        form(method='post' action='/user')
            div.form-group
                label(for='name') Name:
                input(type='text', placeholder='Guest' name='name')
            div.form-group
                label(for='tableID') Table ID:
                select(name='tableID')
                    option(value='', selected='selected') Select a Table ID
                    each table in tables
                        option(value=table) #{table}
            input(type='submit', value='Sign Up', data-transition='fade', data-theme='c')
            //button.btn.btn-primary(type='submit') Start to order

block scripts
    script(type='text/javascript' src='/lib/angular.js')
    script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/js/register.js')