/***************************************
 *               Global                *
 ***************************************/
#dismiss {
	font-size: 16px;
	font-weight: 400;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0;
	right: 10px;
	margin-top: 20px;
	background: #383838;
	line-height: 1.5;
	border-radius: .25rem;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: center;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#dismiss:hover {
	background: #fff;
	color: #181818;
}

#sidebar {
	background: transparent url(../img/sidebar/pattern.png) repeat top left;
	min-width: 250px;
	max-width: 250px;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	min-width: 80px;
	max-width: 80px;
}

#sidebar .sidebar-header strong {
	display: none;
}

#sidebar.active .sidebar-header h3 {
	display: none;
}

#sidebar.active .sidebar-header strong {
	display: block;
}

#sidebar-content { /* make sidebar sticky on the left of page */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#sidebar .sidebar-header {
	padding: 20px 0 20px 0;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar .dropdown-toggle {
	color: #fff;
	padding: 10px;
	display: block;
}

#sidebar.active ul li a {
	padding: 20px 10px;
	text-align: center;
	font-size: 0.85em;
}

#sidebar ul ul {
	background: transparent url(../img/sidebar/bg_black.png) repeat top left;
	opacity: 0.8;
}

#sidebar a[aria-expanded="true"] {
	color: #fff;
	background: transparent url(../img/sidebar/bg_black.png) repeat top left;
	opacity: 0.8;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

#sidebar.active .dropdown-toggle::after {
	top: auto;
	bottom: 10px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

/***************************************
 *              	User                 *
 ***************************************/
.user-form a {
	margin: 0 0 0 20px;
	font-size: 1.0em !important;
	line-height: 1.9em;
	color: #737882;
	padding-left: 0.5em;
}

/***************************************
 *              Content                *
 ***************************************/
#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
}

/***************************************
 *              Filter                 *
 ***************************************/
.custom-checkbox {
	color: #737882;
	font-size: 1.1em !important;
	line-height: 1.8;
	text-align: left;
	margin: 0 0 0 20px;
}

.custom-checkbox label {
	font-size: 0.9em;
}

/***************************************
 *            Navigation               *
 ***************************************/
.nav-form {
	display: flex;
	margin: 0 0 0 20px;
	height: 1.9em;
	color: #737882;
	font-size: 1.0em !important;
	line-height: 1.9em;
}

.nav-form span {
	padding: 5px 0 0 0;
	color: #ffffff;
}

.nav-form a {
	color: #737882;
	font-size: 1.0em !important;
	padding-left: 0.5em;
}


/***************************************
 *              Search                 *
 ***************************************/
#search-form {
	display: inline-flex;
	align-items: center;
	margin: 0 10px;
}

#search-form .form-control {
	color: #fff;
	background-color: #181818;
	border: 0;
}

#search-form .form-control:focus {
	border-bottom: 1px groove #ced4da;
	border-radius: 0;
	box-shadow: 0 0 0 0;
}

/* scroll up */
#sidebar-scrollup {
	display: none;
	position: fixed;
	bottom: 40px;
	left: 10px;
	z-index: 99;
	font-size: 25px;
	padding: 15px;
	border-radius: 4px;
	color: #FFFFFF;
}