/***************************************
 *              SideBar                *
 ***************************************/
.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#dismiss {
	font-size: 16px;
	font-weight: 400;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0;
	right: 10px;
	margin-top: 20px;
	text-align: -webkit-center;
	background: #383838;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#dismiss:hover {
	background: #fff;
	color: #181818;
}

#hide-sidebar {
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

#sidebarCollapse {
	margin-top: 12px;
}

#welcome {
	
}

#sidebar {
	background: transparent url(../images/sidebar/pattern.png) repeat top left;
	min-width: 250px;
	max-width: 250px;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	color: #fff;
	padding: 10px;
	display: block;
}

#sidebar a[aria-expanded="true"] {
	color: #fff;
	background: transparent url(../images/sidebar/bg_black.png) repeat top left;
	opacity: 0.8;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 20px !important;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

/* content */
#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* category */
.custom-checkbox {
	color: #737882;
	font-size: 1.1em !important;
	line-height: 1.8;
	text-align: left;
	margin: 0 0 0 20px;
}

.custom-checkbox label {
	font-size: 0.9em;
}

/* search */
#search-form {
	display: inline-flex;
	align-items: center;
	margin: 0 10px;
}

#search-form .form-control {
	color: #fff;
	background-color: #181818;
	border: 0;
}

#search-form .form-control:focus {
	border-bottom: 1px groove #ced4da;
	border-radius: 0;
	box-shadow: 0 0 0 0;
}
