/***************************************
 *              SideBar                *
 ***************************************/
.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #181818;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #181818;
}

#sidebar ul.components {
	padding: 20px 0;
	/*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	color: #fff;
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #181818;
	background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #181818;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #181818;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

/* content */
#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
}

/* category */
.custom-checkbox {
	color: #737882;
	font-size: 1.1em !important;
	line-height: 1.8;
	text-align: left;
	margin: 0 10px;
}

.custom-checkbox label {
	padding: 0 10px 0 0;
}

