footer.main-block.dark-bg
    .container
        .row
            .col-md-12
                .copyright
                    p
                        | Copyright © 2019 Listing. All rights reserved | made with Jiaxu Duan
                    ul
                        li
                            a(href='#')
                                span.icon-social-facebook
                        li
                            a(href='#')
                                span.icon-social-twitter
                        li
                            a(href='#')
                                span.icon-social-instagram