.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href='/') Home
            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-main')
                span(class='icon-bar')
                span(class='icon-bar')
                span(class='icon-bar')

        #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a.nav-on(href='/category') Category
                li
                    a.nav-on(href='/order') Order
            ul.nav.navbar-nav.navbar-right
                li#user-info
                    if(user)
                        ul.user-actions
                            li
                                a#username(href='#')=user.username
                            li
                                a(href='/user/changeName') Change Name

