.nav-menu
    .bg.transition
        .container-fluid.fixed
            .row
                .col-md-12
                    nav.navbar.navbar-expand-lg.navbar-light
                        a.navbar-brand(href='/') Food Ordering
                        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                            span.icon-menu
                        #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
                            // control user behavior
                            if user && user.username && user.tableID
                                ul.navbar-nav
                                    li.nav-item.dropdown
                                        a#navbarDropdownUserList.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            div#userInfo
                                                span.icon-user
                                                p#username=user.username
                                                span.icon-direction.between-username-tableID
                                                p#tableID=user.tableID
                                            span.icon-arrow-down
                                        .dropdown-menu(aria-labelledby='navbarDropdownUserList')
                                            div#toOrder
                                                span.icon-list
                                                a.dropdown-item(href='/order') View My Order
                                            div#toSignout
                                                span.icon-logout
                                                a.dropdown-item(href='/user/logout') Sign Out
                                    li.nav-item.dropdown
                                        a#navbarDropdownNotification.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            span.ti-bell
                                        .dropdown-menu(aria-labelledby='navbarDropdownNotification')
                                            div.notify.notify-danger
                                                span.icon-bubble
                                                a.dropdown-item(href='#') Notification1
                                            div.notify.notify-success
                                                span.icon-bubble
                                                a.dropdown-item(href='#') Notification2
                                            div.notify.notify-info
                                                span.icon-bubble
                                                a.dropdown-item(href='#') Notification3