.nav-menu
    .bg.transition
        .container-fluid.fixed
            .row
                .col-md-12
                    nav.navbar.navbar-expand-lg.navbar-light
                        a.navbar-brand(href='/') Food Ordering
                        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                            span.icon-menu
                        #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
                            // control user behavior
                            if user && user.username && user.tableID
                                ul.navbar-nav
                                    li.nav-item.dropdown
                                        a#navbarDropdownUserList.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            | #{user.username}
                                            span.icon-arrow-down
                                        .dropdown-menu(aria-labelledby='navbarDropdownUserList')
                                            a.dropdown-item(href='#') Change Table Number
                                            a.dropdown-item(href='#') View My Order
                                            a.dropdown-item(href='#') Sign Out
                                    li.nav-item.dropdown
                                        a#navbarDropdownNotification.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            span.ti-bell
                                        .dropdown-menu(aria-labelledby='navbarDropdownNotification')
                                            a.dropdown-item(href='#') Notification1
                                            a.dropdown-item(href='#') Notification2
                                            a.dropdown-item(href='#') Notification3